.coffee-intro_form {
  padding-top: 60px;
  padding-left: 150px;
  width: 100%;
  height: 400px;
  background-color: burlywood;
}
.coffee-intro_form img {
  width: 90%;
  height: auto;
}
.coffee-intro_form .text-form {
  height: 100%;
  text-align: start;
}
.coffee-intro_form .text-form .big_title {
  color: white;
  font-size: 70px;
  font-family: "Nerko One", cursive;
  height: 60px;
}
.coffee-intro_form .text-form .text-content {
  color: white;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 30px;
}
.fastcoffee-intro_form {
  width: 100%;
  padding-top: 60px;
  height: 400px;
  background-color: white;
}
.fastcoffee-intro_form img {
  width: 40%;
  height: auto;
}
.fastcoffee-intro_form .text-form {
  height: 100%;
  text-align: start;
}
.fastcoffee-intro_form .text-form .big_title {
  color: rgb(185, 115, 67);
  font-size: 70px;
  font-family: "Nerko One", cursive;
  height: 60px;
}
.fastcoffee-intro_form .text-form .text-content {
  color: rgb(185, 115, 67);
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 30px;
}
.bagcoffee-intro_form {
  padding-left: 150px;
  width: 100%;
  /* padding-top: 60px; */
  height: 500px;
  background-color: dimgrey;
}
.bagcoffee-intro_form img {
  width: 100%;
  height: auto;
}
.bagcoffee-intro_form .text-form {
  padding-top: 60px;
  height: 100%;
  text-align: start;
}
.bagcoffee-intro_form .text-form .big_title {
  color: white;
  font-size: 70px;
  font-family: "Nerko One", cursive;
  height: 60px;
}
.bagcoffee-intro_form .text-form .text-content {
  color: white;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 30px;
}
.breadcoffee-intro_form {
  padding-top: 100px;
  width: 100%;
  height: 400px;
}

.breadcoffee-intro_form img {
  width: 90%;
  height: auto;
}
.breadcoffee-intro_form .text-form {
  height: 100%;
  text-align: start;
}
.breadcoffee-intro_form .text-form .big_title {
  color: white;
  font-size: 70px;
  font-family: "Nerko One", cursive;
  height: 60px;
}
.breadcoffee-intro_form .text-form .text-content {
  color: white;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 30px;
}
@media only screen and (max-width: 1026px) {
  .coffee-intro_form {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 300px;
    background-color: burlywood;
  }
  .coffee-intro_form .text-form .big_title {
    font-size: 30px;
  }
  .coffee-intro_form .text-form .text-content {
    font-size: 15px;
  }
  .coffee-intro_form img {
    display: none;
  }

  .fastcoffee-intro_form {
    height: 300px;
    background-color: white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .fastcoffee-intro_form img {
    display: none;
  }

  .fastcoffee-intro_form .text-form .big_title {
    font-size: 30px;
  }
  .fastcoffee-intro_form .text-form .text-content {
    font-size: 15px;
  }
  .bagcoffee-intro_form {
    height: 300px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .bagcoffee-intro_form img {
    display: none;
  }
  .bagcoffee-intro_form .text-form {
    padding-top: 20px;
    height: 100%;
    text-align: start;
  }
  .bagcoffee-intro_form .text-form .big_title {
    font-size: 30px;
  }
  .bagcoffee-intro_form .text-form .text-content {
    font-size: 15px;
  }
  .breadcoffee-intro_form {
    padding-left: 150px;
    width: 100%;
    height: 400px;
    background-color: #696969;
  }

  .breadcoffee-intro_form img {
    display: none;
  }

  .breadcoffee-intro_form .text-form .big_title {
    color: white;
    font-size: 30px;
    font-family: "Nerko One", cursive;
  }
  .breadcoffee-intro_form .text-form .text-content {
    font-size: 15px;
  }
}
