@import "~antd/dist/antd.css";

.menuBar {
  /* padding: 0 20px; */
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 5px #f3f1f1;
  background-color: white;
  height: 70px;
}
.button-signup {
  border: 0px;
  font-size: 20px;
}
.button-signup :hover {
  color: rgb(164, 115, 67);
}

.logo {
  width: 200px;
  float: left;
  padding-top: 17px;
}

.logo a {
  display: inline-block;
  padding: 15px 10px;
  font-weight: bold;
  color: rgb(164, 115, 67);
  text-transform: capitalize;
}
.fontmenu {
  font-family: "Sansita Swashed", cursive;
}
.shopname {
  font-size: 30px;
}
.menutitle {
  font-family: "Sansita Swashed", cursive;
  font-size: 20px;
}
.menuCon {
  width: calc(100% - 250px);
  padding-top: 15px;
  float: left;
}

.menuCon .ant-menu-item {
  padding: 0px 0px;
}

.menuCon .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menuCon .ant-menu-horizontal {
  border-bottom: none;
}

.menuCon .leftMenu {
  float: left;
}

.menuCon .rightMenu {
  float: right;
}

.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
}

.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: rgb(164, 115, 67);
  position: relative;
}

.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: rgb(164, 115, 67);
}

.barsBtn:after {
  top: auto;
  bottom: -6px;
}

.ant-drawer-body {
  padding: 0;
}

.barsMenu > span {
  display: block;
}
.ant-btn-primary {
  border-color: rgb(164, 115, 67);
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  border-bottom: 2px solid rgb(164, 115, 67);
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover a div,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover a div,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active a div,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active a div,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open a div,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open a div,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected a div,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected a div {
  color: rgb(164, 115, 67);
}
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: rgb(164, 115, 67);
}
.header_modal-title {
  font-family: "Nerko One", cursive;
}
.ant-tabs-tab.ant-tabs-tab .ant-tabs-tab-btn {
  font-size: 20px;
  color: rgb(164, 115, 67);
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 25px;
}
.ant-input-lg {
  font-size: 17px;
  font-family: cursive;
}
.ant-form-item-control-input-content {
  max-width: 100%;
}
.ant-picker-large {
  width: 100%;
  height: 48px;
}
.ant-picker-large .ant-picker-input > input {
  font-size: 17px;
  font-family: cursive;
}
.ant-input-group-addon {
  font-size: 17px;
}
.loginmodal.ant-form-item-control-input-content {
  max-width: 100%;
}
@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -20px;
  }

  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }
  .menuCon {
    width: calc(100% - 210px);
  }
}
